.container {
  width:max-content;
  background: white;
  margin: auto;
  height: 700px;

} 

.display {
  background-color: black;
  color: white;
  max-width: 450px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: monospace;
}

.buttons{
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 50px;
}

button{
  flex-grow: 1;
  flex-direction: row;
  flex-basis: 25%;
  height: 115px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#clear {
  background-color: #d8d9db;
  color: black;
  flex-basis: 50%;
}

#backspace {
  background-color: #d8d9db;
  color: black;
  font-size: 75px;
}

#divide {
  background-color: #df974c;
  color: white;
}

#seven {
  background-color: #d8d9db;
  color: black;
}

#eight {
  background-color: #d8d9db;
  color: black;
}

#nine {
  background-color: #d8d9db;
  color: black;
}

#multiply {
  background-color: #df974c;
  color: white;
}

#four {
  background-color: #d8d9db;
  color: black;
}

#five {
  background-color: #d8d9db;
  color: black;
}

#six {
  background-color: #d8d9db;
  color: black;
}

#subtract {
  background-color: #df974c;
  color: white;
}

#one {
  background-color: #d8d9db;
  color: black;
}

#two {
  background-color: #d8d9db;
  color: black;
}

#three {
  background-color: #d8d9db;
  color: black;
}

#plus {
  background-color: #df974c;
  color: white;
}

#zero {
  background-color: #d8d9db;
  color: black;
  flex-basis: 75%;
}

#equals {
  background-color: #df974c;
  color: white;
}
